<form class="form text-center m-2">
    <div class="form-group m-2">
        <input name="name" #name type="text" placeholder="Name">
    </div>
    <div class="form-group m-2">
        <input name="email" #email type="text" placeholder="email">
    </div>
    <div class="form-group m-2">
        <input name="phone" #phone type="text" placeholder="phone">
    </div>
    <div class="form-group m-2">
        <input name="street" #street type="text" placeholder="Street">
    </div>
    <div class="form-group m-2">
        <input name="city" #city type="text" placeholder="City">
    </div>
    <div class="form-group m-2">
        <input name="btn" type="button" value="ADD" (click)="Add(name.value, email.value, phone.value,street.value,city.value)">
    </div>
</form>